/*Tablet*/

@media only screen and (min-width: 401px) and (max-width: 1000px) {
    main {
        width: $ancho;
        @include orden(0, flex);
        flex-direction: column;
        padding: 0;
        text-align: center;
    }
    section {
        width: 95%;
        @include orden(0 auto, flex);
        flex-direction: column;
        padding: 1em;
    }
    .logo {
        font-size: 2em;
    }
    h1 {
        font-size: 3em;
        padding: 1.5em;
    }
    h2 {
        font-size: 1.5em;
    }
    iframe {
        border: 0;
        width: 100%;
    }
    input, textarea {
        width: 95%;
    }
}


/* Mobile */

@media only screen and (max-width: 400px) {
    main {
        width: $ancho;
        @include orden(0 auto, flex);
        flex-direction: column;
        padding: 0;
        text-align: center;
    }
    section, .contenido-izq,
    .contenido-der {
        width: 95%;
        margin: 0 auto;
        margin-top: 1em;
        padding: 0 1em;
    }

    .logo {
        font-size: 1.3em;
    }
    h1 {
        font-size: 1.6em;
        padding: 0.2em;
    }
    .index h1 {
        padding: 1em 0;
    }
    h2 {
        font-size: 1.4em;
    }
    li {
        width: 30%;
        font-size: 0.9em;
    }
    .texto-1 {
        font-size: 0.9em;
    }

    .agenda .texto-1 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content:flex-start;
        text-align: left;
    }

    input, textarea {
        width: 100%;
    }
    iframe {
        border: 0;
        width: 100%;
    }

    footer a {
        justify-content: space-between;
        padding: 2em;
    }
}