/*Tablet*/

@media only screen and (min-width: 401px) and (max-width: 900px) {
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1em;
    }
    .quienes-somos {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .logo {
        font-size: 2em;
    }
    h1 {
        font-size: 3em;
        padding: 1.5em;
    }
    h2 {
        font-size: 1.5em;
    }
    iframe {
        border: 0;
        width: 100%;
    }
    
    input, textarea{
        width: $ancho;
    }

}


/* Mobile */

@media only screen and (max-width: 400px) {
    section {
        width: $ancho;
        @include orden(0.5em auto, flex);
        flex-direction: column;
    }
    .contenido-izq,
    .contenido-der {
        width: $ancho;
        margin: 0.5em;
    }
    .logo {
        font-size: 1.8em;
    }
    h1 {
        font-size: 2.5em;
        padding: 0.5em;
    }
    h2 {
        font-size: 1.5em;
        text-align: center;
    }
    li {
        width: 30%;
        font-size: 0.9em;
    }
    .texto-1 {
        font-size: 0.9em;
        text-align: center;
    }

    .agenda .texto-1 {
        width:90%;
        display: flex;
        flex-direction: column;
    }
    iframe {
        border: 0;
        width: 100%;
    }
    input, textarea{
        width: $ancho;
    }
    footer a {
        justify-content: space-between;
        padding: 2em;
    }
}