/* Footer */

footer {
    background-color: $footer-color;
    border-top: 6px darken($bordo, 10%) solid;
	display: flex;
	justify-content: center;
    margin-top: 1em;

    a {
        justify-content: space-around;
        padding: 2em;
        transition: all 0.4s ease-in-out;

        &:hover {
            transform: translateY(-5px) scale(1.2) rotate(-15deg);
        }
    }
}

.footer-index {
    width: $ancho;
    border-top: 2px white solid;
    background-color: transparent;
    margin-top: 4em;
}